/*====
  Table of contents

  #General Variables
  #Sass Mixins
  #Basic Styles
  #Helper classes
  #Links and Buttons
  #Lists
  #Forms
  #Typography
  #Links and Buttons
  #Tables
  #Site Header
  #Site Nav and Dropdowns
  #Site content
  #Site Footer
====*/

/*====
#General Variables
====*/
$colorPrimary: #9E5CCA;
$colorSecondary: #7965CD;
$colorTerciary: #DC5CAC;
$siteWidth: 1260px;
$gutter: 10px;
$colorLink: $colorPrimary;
$colorLinkHover: lighten($colorPrimary, 10%);
$colorBorder: #FCFCFC;

/*====
#Sass Mixins
====*/
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

/*====
#Basic Styles
====*/
* { box-sizing: border-box; }
body {
  background-color: #FCFCFC;
  color: #4A4A4A;
  font-family: "Lato",Helvetica,sans-serif;
  font-size: 16px;
}
a {
  background: transparent;
  color: $colorLink;
  text-decoration: underline;
}
a:hover, a:focus {
  color: $colorLinkHover;
}
button[disabled], html input[disabled] {
  cursor: default;
}
.wrapper {
  margin: 0 auto;
  max-width: $siteWidth;
  padding: 0 10px;
}
img, video, canvas {
  max-width: 100%;
}

/*====
#Helper classes
====*/
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}
.relative { position: relative ; }
.absolute { position: absolute ; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.sr-only { display: none; }
.display-block { display: block; }
.hidden { display: none; }

.flush { margin: 0 !important; }
.flush--bottom { margin-bottom: 0 !important; }
.flush--left { margin-left: 0 !important; }
.flush--right { margin-right: 0 !important; }
.flush--top { margin-top: 0 !important; }
.flush--ends { margin-top: 0 !important; margin-bottom: 0 !important; }
.flush--sides { margin-left: 0 !important; margin-right: 0 !important; }

.hard { padding: 0 !important; }
.hard--bottom { padding-bottom: 0 !important; }
.hard--left { padding-left: 0 !important; }
.hard--right { padding-right: 0 !important; }
.hard--top { padding-top: 0 !important; }
.hard--ends { padding-top: 0 !important; padding-bottom: 0 !important; }
.hard--sides { padding-left: 0 !important; padding-right: 0 !important; }

.push--top { margin-top: $gutter !important; }
.push--bottom { margin-bottom: $gutter !important; }
.push--left { margin-left: $gutter !important; }
.push--right { margin-right: $gutter !important; }
.push--sides { margin-left: $gutter !important; margin-right: $gutter !important; }
.push--ends { margin-bottom: $gutter !important; margin-top: $gutter !important;}
.push-adjust--left{ margin-left: 1px !important; }
.push-adjust--right{ margin-right: 1px !important; }

.soft { padding: $gutter !important; }
.soft--top { padding-top: $gutter !important; }
.soft--bottom { padding-bottom: $gutter !important; }
.soft--left { padding-left: $gutter !important; }
.soft--right { padding-right: $gutter !important; }
.soft--sides { padding-left: $gutter !important; padding-right: $gutter !important; }
.soft--ends { padding-bottom: $gutter !important; padding-top: $gutter !important; }

.text--primary { color: $colorPrimary; }
.text--secondary { color: $colorSecondary; }
.text--terciary { color: $colorTerciary; }
.text--white { color: #FFFFFF; }

.full-width { width: 100%; }

/*====
#Lists
====*/
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline {
  li {
    display: inline-block;
    padding-top: 2px;
  }
}

/*====
#Forms
====*/
button,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input {
  display: inline-block;
  width: auto;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea,
select {
  border: 1px solid $colorBorder;

  &:focus {
    border: 1px solid darken($colorBorder, 10%);
  }

  &[disabled],
  &.disabled {
    cursor: default;
  }
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

/*====
#Typography
====*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p437ul');
  src:  url('../fonts/icomoon.eot?p437ul#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p437ul') format('truetype'),
    url('../fonts/icomoon.woff?p437ul') format('woff'),
    url('../fonts/icomoon.svg?p437ul#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  vertical-align: middle;
  font-size: 16px;
}
.icon--medium {
  font-size: 24px;
}
.icon--large {
  font-size: 34px;
}
.icon--extra-large {
  font-size: 40px;
}

.icon-logo1:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-location2:before {
  content: "\e948";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e966";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-key:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-tongue2:before {
  content: "\e9e4";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-wink2:before {
  content: "\e9e8";
}
.icon-grin2:before {
  content: "\e9ea";
}
.icon-cool2:before {
  content: "\e9ec";
}
.icon-angry2:before {
  content: "\e9ee";
}
.icon-shocked2:before {
  content: "\e9f2";
}
.icon-confused2:before {
  content: "\e9f6";
}
.icon-neutral2:before {
  content: "\e9f8";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-logo1 .path1:before {
  content: "\e901";
  color: rgb(0, 0, 0);
}
.icon-logo1 .path2:before {
  content: "\e902";
  margin-left: -0.9052734375em;
  color: rgb(255, 255, 255);
}
.icon-logo1 .path3:before {
  content: "\e903";
  margin-left: -0.9052734375em;
  color: rgb(0, 0, 0);
}
.icon-logo1 .path4:before {
  content: "\e904";
  margin-left: -0.9052734375em;
  color: rgb(190, 190, 190);
}

h1, .alpha {
  font-size: 35px;
  margin: 0;
}
h2, .beta {
  font-size: 30px;
  margin: 0;
}
h3, .gamma {
  font-size: 24px;
  margin: 0;
}
h4, .delta {
  font-size: 18px;
  margin: 0;
}
h5, .epsilon {
  font-size: 14px;
  margin: 0;
}
h6, .zeta {
  font-size: 12px;
  margin: 0;
}

/*====
#Links and Buttons
====*/
.button {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
  outline: none;
  padding: 6px 12px;
  text-align: center;
  transition: all 0.2s ease-out;
  vertical-align: middle;
  white-space: nowrap;

  &--small {
    font-size: 0.75em;
    padding: 4px 5px;
  }
  &--large {
    padding: 10px 26px;
    font-size: 1.3em;
    font-weight: 600;
  }
  &--full {
    width: 100%;
  }
  &--primary {
    background-color: $colorPrimary;
    color: #FFFFFF;
  }
  &--primary:hover {
    background-color: lighten($colorPrimary, 10%);
    box-shadow: 0 0 0 1px lighten($colorPrimary, 5%);
  }
  &--secondary {
    background-color: $colorSecondary;
    color: #FFFFFF;
  }
  &--secondary:hover {
    background-color: lighten($colorSecondary, 10%);
    box-shadow: 0 0 0 1px lighten($colorSecondary, 5%);
  }
  &--terciary {
    background-color: $colorTerciary;
    color: #FFFFFF;
  }
  &--terciary:hover {
    background-color: lighten($colorTerciary, 10%);
    box-shadow: 0 0 0 1px lighten($colorTerciary, 5%);
  }
}

.text-link {
  background: none;
  border: 0 none;
  display: inline;
  margin: 0;
  padding: 0;
}

/*====
#Tables
====*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table.full {
  width: 100%;
  margin-bottom: $gutter;
}
th {
  font-weight: bold;
}
th, td {
  text-align: left;
  padding: $gutter/2;
  border: 1px solid $colorBorder;
}

/*====
#Site Header
====*/
.site-header {
  background-color: $colorPrimary;
  color: #FFFFFF;
  padding-bottom: 5px;

  > .grid__item {
    vertical-align: middle;
  }
  a {
    color: #FFFFFF;
  }
}
.site-logo {
  span {
    vertical-align: middle;
  }
  a {
    text-decoration: none;
  }
}

/*====
#Site Nav and Dropdowns
====*/
.main-nav {
  li {
    margin: 0 2px;
    padding-top: 0;
  }
}
.seconday-nav {
  li {
    margin: 0 2px;
    padding-top: 4px;
  }

  .register-link {
    text-decoration: none;
  }
}

/*====
#Site content
====*/
.hero {
  margin: 0 auto;
  max-width: 100%;

  &-banner {
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
  }
}
.featured-events {
  position: relative;
}
.items-slider {
  margin: 0 auto;
  max-width: $siteWidth;
  overflow: hidden;
  padding: 2px 0;
  white-space: nowrap;

  li {
    margin: 0 $gutter;
    max-width: 250px;
  }
}
.slide-control {
  position: absolute;
  top: 50%;
}
.slide-control--left {
  left: 0;
}
.slide-control--right {
  right: 0;
}
.featured-event {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.75);
  padding: 2px;

  img {
    width: 100%;
  }
}
/*====
#Site Footer
====*/
.site-footer {

}
